<div class="col-md-3">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
          Sujet : {{contact.sujet}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Nom : {{contact.nom}}</li>
          <li class="list-group-item">Email : {{contact.email}}</li>
          <li class="list-group-item">CIN : {{contact.message}}</li>
          <button class="btn btn-danger" (click)="sendSupprim()">Supprimer message</button>
        </ul>
      </div>
      </div>