<div  *ngIf="login()==1">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: black;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Animal lovers</a>
        <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/ajouter">Ajouter animal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/adoption">Adoption </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/perdu">Animal perdu </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/trouve">Animal trouvé</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/clients">Clients </a>
    </li>
    <li>
      <a class="nav-link" routerLink="/messages">Consulter messages </a>
    </li>
    <div class="row a" >
      <h3>Bonjour, {{user.nom}} {{user.prenom}}</h3>
    <button  class="btn btn-outline-primary " (click)="deconnecter()">Se deconnecter</button>
    </div>
  </ul>
    </div>
  </nav>
</div>

<div *ngIf="login()==2">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: black;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Animal lovers</a>
        <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/ajouter">Ajouter animal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/adoption">Adoption </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/perdu">Animal perdu </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/trouve">Animal trouvé</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/contact">Contact</a>
    </li>
    <div class="row a" >
      <h3>Bonjour, {{user.nom}} {{user.prenom}}</h3>
    <button  class="btn btn-outline-primary" (click)="deconnecter()">Se deconnecter</button>
    </div>
  </ul>
    </div>
  </nav>
</div>




<div *ngIf="login()==3">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: black;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Animal lovers</a>
        <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/adoption">Adoption </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/perdu">Animal perdu </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/trouve">Animal trouvé</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/profil">Se connecter </a>
    </li>
    <li>
      <a class="nav-link" routerLink="/contact">Contact</a>
    </li>
  </ul>
    </div>
  </nav>
</div>




  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <br>
  <br>
  <footer class="page-footer font-small mdb-color lighten-3 pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Content -->
          <img src="../assets/5.jpg" width="200px" height="100px">
          <br>
          <p>Vous souhaitez adopter un animal ? Votre décision est mûrement réfléchie ? Vous pouvez consulter la liste de nos candidats à 
            l’adoption en identifiant le refuge le plus proche de votre domicile. Repérez le ou les profils d’animaux qui vous correspondent, en fonction 
            de votre mode de vie et de la composition de votre foyer.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4">A PROPOS DE NOUS</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <a href="#!">PROJETS</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">A PROPOS DE NOUS</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">BLOG</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">PRIX</a>
              </p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Addresse</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fas fa-home mr-3"></i> Ariana Soghra Tunisie</p>
            </li>
            <li>
              <p>
                <i class="fas fa-envelope mr-3"></i> pets0139@gmail.com</p>
            </li>
            <li>
              <p>
                <i class="fas fa-phone mr-3"></i> 29 285 979 </p>
            </li>
            <li>
              <p>
                <i class="fas fa-print mr-3"></i> 25 817 629 </p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
  
          <!-- Social buttons -->
          <h5 class="font-weight-bold text-uppercase mb-4">SOCIAL MEDIA</h5>
  
          <!-- Facebook -->
          <a type="button" class="btn-floating btn-fb">
            <i class="fab fa-facebook-f"></i>
          </a>
          <!-- Twitter -->
          <a type="button" class="btn-floating btn-tw">
            <i class="fab fa-twitter"></i>
          </a>
          <!-- Google +-->
          <a type="button" class="btn-floating btn-gplus">
            <i class="fab fa-google-plus-g"></i>
          </a>
          <!-- Dribbble -->
          <a type="button" class="btn-floating btn-dribbble">
            <i class="fab fa-dribbble"></i>
          </a>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Copyright Asma Bellil
    </div>
    <!-- Copyright -->
  
  </footer>